* {
	--bg: rgba(40, 42, 54, 1);
	--link: rgba(80, 250, 123, 1);
	--linkHover: rgba(241, 250, 140, 1);
	--headers: rgba(255, 184, 108, 1);
}

body{
	background-color: var(--bg);
}

a {
	color: var(--link);
	text-align: center;
}
a:hover{
	color: var(--linkHover);
}

p{
	color: white;
	text-align: center;
}
h1, h2, h3{
	text-align: center;
	color: var(--headers);
}

nav a{
	text-decoration: none;
	border-style: solid;
	border-color: var(--link);
	border-radius: 20px;
	padding: 5px;
}
nav {
	padding: 20px;
}
nav a:hover{
	text-decoration: none;
	border-style: solid;
	border-color: var(--linkHover);
	border-radius: 20px;
	padding: 5px;
}

.homeButton{
	text-decoration: none;
	border-style: solid;
	border-color: var(--headers);
	border-radius: 20px;
	padding: 5px;
	color: var(--headers);
}

